# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Local module cache
pkg/


# DB files from examples
*.db
*.db-journal
*.db-wal
*.db-shm

# Coverage
*.out
*.prof
cover.html
go.work

# IDE
.vscode/
*.swp
*.swo
*~
